<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viajes | Ovejacinta</title>
    <link rel="stylesheet" src="../static/styles/login.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/styles/viajes.css">

</head>

<body>
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-3 col-lg-2 sidebar p-0">
            <div class="sidebar-brand text-center">
                <img src="../static/img/Oveja_Guia_turistico_3.png" alt="Usuario"
                    class="rounded-circle mb-2 align-items" style="width: 80px; height: 80px;">
            </div>

            <div class="p-3">
                <div class="text-center mb-4 mt-3">
                    <img src="../static/img/images.jpg" alt="Usuario" class="rounded-circle mb-2"
                        style="width: 80px; height: 80px;">
                    <h6 class="mb-0" id=""></h6>
                    <small class="text-muted">Turista</small>
                </div>

                <nav class="nav flex-column">
                    <a href="/usuario" class="sidebar-item">
                        <i class="fas fa-home"></i> Inicio
                    </a>
                    <a href="#" class="sidebar-item">
                        <i class="fas fa-user"></i> Perfil
                    </a>
                    <a href="./viajes" class="sidebar-item active">
                        <i class="fas fa-file-alt"></i> Viajes
                    </a>
                    <a href="#" class="sidebar-item">
                        <i class="fas fa-cog"></i> Configuración
                    </a>
                    <a href="#" class="sidebar-item">
                        <i class="fas fa-sign-out-alt"></i> Salir
                    </a>
                </nav>
            </div>
        </div>

        <div class="col-lg-10 col-md-9">
            <div clas="row">
                <div class="px-4 pt-5 my-5 text-center border-bottom">
                    <h1 class="display-4 fw-bold text-center">Crea tu viaje</h1>
                    <div class="col-lg-6 mx-auto">
                        <p class="lead mb-4">Desde aqui podrás crear un viaje que se adapte a ti, podrás realizarlo solo
                            o invitar
                            a tus amigos.
                        </p>
                        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">
                                Crear
                            </button>
                        </div>
                    </div>
                    <!--
                    <div class="overflow-hidden" style="max-height: 30vh;">
                        <div class="container px-5">
                            <img src="bootstrap-docs.png" class="img-fluid border rounded-3 shadow-lg mb-4"
                                alt="Example image" width="700" height="500" loading="lazy">
                        </div>
                    </div>
                    -->

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Crea tu viaje</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form id="formNuevoViaje">
                                        <div class="mb-3">
                                            <label for="nombreViaje" class="form-label">Nombre del viaje</label>
                                            <input type="text" class="form-control" id="nombreViaje" required>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 mb-3">
                                                <label for="fechaInicio" class="form-label">Fecha inicio</label>
                                                <input type="date" class="form-control" id="fechaInicio" required>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label for="fechaFin" class="form-label">Fecha fin</label>
                                                <input type="date" class="form-control" id="fechaFin" required>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer text-center">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cerrar</button>
                                    <button id="btnGuardarViaje" type="button" class="btn btn-primary">Guardar cambios</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            

            <div class="container py-4" id="viajesContainer">
                <h1 class="text-center mb-4"><i class="me-2"></i>Mis Viajes</h1>
                
                <!-- Lista -->
                <!-- <div class="row">
                    <div class="col-12">
                        <div class="card viaje-card">
                            <div class="card-header viaje-header d-flex justify-content-between align-items-center">
                                <h3 class="card-title mb-0">Gastronomía en San Esteban de Gormaz</h3>
                                <span class="badge badge-destino">España</span>
                            </div>
                            <div class="card-body viaje-body">
                                <div class="d-flex justify-content-between mb-3">
                                    <span class="text-muted"><i class="fas fa-calendar-alt me-2"></i>15-22 Junio 2025</span>
                                    <span class="text-muted"><i class="fas fa-users me-2"></i>2 personas</span>
                                </div>
                                <p class="card-text">Explorando las maravillas gastronómicas de San Esteban</p>
                                
                                 
                                
                                <div class="d-flex justify-content-end">
                                    <button class="btn btn-outline-danger btn-viaje me-2">
                                        <i class="fas fa-trash me-1"></i> Eliminar
                                    </button>
                                    <button class="btn btn-primary btn-viaje" id="btnDetallesViaje">
                                        <i class="fas fa-eye me-1"></i> Ver detalles
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="mt-5"></div>
                        <div class="card viaje-card">
                            <div class="card-header viaje-header d-flex justify-content-between align-items-center">
                                <h3 class="card-title mb-0">Escapada a San Esteban de Gormaz</h3>
                                <span class="badge badge-destino">España</span>
                            </div>
                            <div class="card-body viaje-body">
                                <div class="d-flex justify-content-between mb-3">
                                    <span class="text-muted"><i class="fas fa-calendar-alt me-2"></i>10-15 Agosto 2025</span>
                                    <span class="text-muted"><i class="fas fa-users me-2"></i>1 persona</span>
                                </div>
                                <p class="card-text">Fin de semana conociendo la historia de San Esteban de Gormaz</p>
                                
                                <div class="d-flex justify-content-end">
                                    <button class="btn btn-outline-danger btn-viaje me-2">
                                        <i class="fas fa-trash me-1"></i> Eliminar
                                    </button>
                                    <button class="btn btn-primary btn-viaje">
                                        <i class="fas fa-eye me-1"></i> Ver detalles
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                
                <div class="mt-5"></div> -->
            </div>


        
        <footer class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <span class="text-muted">© 2025 Ovejacinta. Todos los derechos reservados.</span>
                </div>
                <div class="col-md-6 text-md-end">
                    <a href="#" class="text-decoration-none text-muted me-3">Términos</a>
                    <a href="#" class="text-decoration-none text-muted me-3">Privacidad</a>
                    <a href="#" class="text-decoration-none text-muted">Contacto</a>
                </div>
            </div>
        </footer>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js"></script>
    <script src="../static/js/usuario.js"></script>
    <script src="../static/js/viajes.js"></script>
</body>