<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/static/img/Oveja_Guia_turistico_3.png">
    <title>Viajes | Ovejacinta</title>
    <link rel="stylesheet" src="../static/styles/login.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/styles/viajes.css">

</head>

<body>
    <div class="row">
        <!-- Sidebar -->
        <!-- Sidebar -->
        <div class="col-md-3 col-lg-2 sidebar p-0" id="sidebar">
            <div class="sidebar-brand text-center">
                <div class="row">
                    <button class="botonColapse" id="menu-boton">
                        <div></div>
                        <div></div>
                        <div></div>
                    </button>
                </div>
                <img src="../static/img/Oveja_Guia_turistico_3.png" alt="Usuario"
                    class="rounded-circle mb-2 align-items" style="width: 80px; height: 80px;">
            </div>
            <div class="p-3">
                <div class="text-center mb-4 mt-3">
                    <img src="../static/img/images.jpg" alt="Usuario" class="rounded-circle mb-2"
                        style="width: 80px; height: 80px;">
                    <h6 class="mb-0 nombre-bienvenida" id=""></h6>
                    <small class="text-muted">Turista</small>
                </div>

                <nav class="nav flex-column">
                    <a href="/usuario" class="sidebar-item">
                        <i class="fas fa-home me-2"></i>Inicio
                    </a>
                    <a href="/perfil" class="sidebar-item">
                        <i class="fas fa-user me-2"></i>Perfil
                    </a>
                    <a href="./viajes" class="sidebar-item active">
                        <i class="fas fa-route me-2"></i>Viajes
                    </a>
                    <a href="/turismo" class="sidebar-item">
                        <i class="fas fa-map-marked-alt me-2"></i>Turismo
                    </a>
                    <a href="/contacto" class="sidebar-item">
                        <i class="fas fa-envelope me-2"></i>Contacto
                    </a>
                    <a href="#" class="sidebar-item text-danger">
                        <i class="fas fa-sign-out-alt me-2"></i>Salir
                    </a>

                </nav>
            </div>
        </div>


        <div class="col-lg-10 col-md-9 main-content">
            <!-- Contenido principal -->
            <main class="row scroll-vertical">
                <div clas="row">
                    <div class="hero-section text-center py-5 bg-light">
                        <div class="container">
                            <h1 class="display-5 mb-3">¡Crea tu viaje soñado!</h1>
                            <p class="mb-4">
                                Diseña una experiencia a tu medida, solo o acompañado. Ovejacinta te ayudará en cada
                                paso
                                del camino.
                            </p>
                            <button type="button" class="btn btn-lg btn-primary px-4" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">
                                <i class="fas fa-plus me-2"></i> Crear Viaje
                            </button>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Crea tu viaje</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="formNuevoViaje">
                                            <div class="mb-3">
                                                <label for="nombreViaje" class="form-label">Nombre del viaje</label>
                                                <input type="text" class="form-control" id="nombreViaje" required>
                                            </div>
                                            <div class="mb-3">
                                                <label for="descripcionViaje" class="form-label">Descripción</label>
                                                <input type="text" class="form-control" id="descripcionViaje" required>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 mb-3">
                                                    <label for="fechaInicio" class="form-label">Fecha inicio</label>
                                                    <input type="date" class="form-control" id="fechaInicio" required>
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <label for="fechaFin" class="form-label">Fecha fin</label>
                                                    <input type="date" class="form-control" id="fechaFin" required>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer text-center">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Cerrar</button>
                                        <button id="btnGuardarViaje" type="button" class="btn btn-primary">Guardar
                                            cambios</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container py-4" id="tusViajesContainer">
                    <p class="text lead">
                        <br />Este panel está diseñado para que puedas revivir tus aventuras, organizar
                        nuevas
                        salidas y tener bajo control todos los detalles de tus experiencias.
                        Y no te preocupes, no estás solo en el camino: <strong>Ovejacinta</strong>, nuestra simpática
                        asistente virtual, estará siempre cerca para ayudarte
                        a gestionar tus viajes, recordarte tus fechas importantes y darte algún que otro consejo útil en
                        el
                        camino.
                        <br><br>
                        Así que respira profundo, explora con calma, ¡y deja que Ovejacinta y este espacio te acompañen
                        en
                        el recorrido de tus recuerdos viajeros!
                    </p>
                </div>
                <div class="container py-4" id="viajesContainer">
                    <h1 class="text-center mb-4"><i class="me-2"></i></h1>
                </div>
                <div class="carrusel-section">
                    <div class="carrusel-container">
                        <h2 class="carrusel-title">Inspírate para tu próximo viaje</h2>
                        <p class="carrusel-subtitle">
                            Descubre las experiencias que otros viajeros han creado y encuentra ideas para tu próxima
                            aventura.
                        </p>
                        <div id="carruselViajes" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner carrusel-inner" id="carouselInner">
                            </div>
                            <button class="carousel-control-prev carrusel-control-prev" type="button"
                                data-bs-target="#carruselViajes" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </button>
                            <button class="carousel-control-next carrusel-control-next" type="button"
                                data-bs-target="#carruselViajes" data-bs-slide="next">
                                <span class="carousel-control-next-icon">-></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div clas="row">
                    <div class="section-invitar text-center py-5 bg-light">
                        <div class="container">
                            <h1 class="display-5 mb-3">¡Invita a tus amigos!</h1>
                            <p class="mb-4">
                                Comparte la aventura con amigos. Ovejacinta te ayuda a coordinar el grupo.
                            </p>
                            <button type="button" class="btn btn-lg btn-invitar px-4" data-bs-toggle="modal"
                                data-bs-target="#modalInvitar">
                                <i class="fas fa-user-plus me-2"></i> Invitar oveColegas
                            </button>
                        </div>
                        <div class="modal fade" id="modalInvitar" tabindex="-1" aria-labelledby="modalInvitarLabel"
                            aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header modal-header-invitar">
                                        <h1 class="modal-title fs-5 modal-title-invitar" id="modalInvitarLabel">Invita a
                                            tus
                                            amigos</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="formInvitarViaje">
                                            <div class="mb-3">
                                                <label for="selectViaje" class="form-label">Selecciona un viaje</label>
                                                <select class="form-select" id="selectViaje" required>
                                                </select>
                                            </div>
                                            <div class="mb-3">
                                                <label for="emailInvitado" class="form-label">Correo electrónico</label>
                                                <input type="email" class="form-control" id="emailInvitado"
                                                    placeholder="amigo@ejemplo.com" required>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer text-center">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Cancelar</button>
                                        <button id="btnEnviarInvitacion" type="button" class="btn btn-invitar">Enviar
                                            invitación</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <div class="row">
                <footer class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <span class="text-muted">© 2025 Ovejacinta. Todos los derechos reservados.</span>
                        </div>
                        <div class="col-md-6 text-md-end">
                            <a href="#" class="text-decoration-none text-muted me-3">Términos</a>
                            <a href="#" class="text-decoration-none text-muted me-3">Privacidad</a>
                            <a href="#" class="text-decoration-none text-muted">Contacto</a>
                        </div>
                    </div>
                </footer>
            </div>
        </div>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js"></script>
        <script src="../static/js/usuario.js"></script>
        <script src="../static/js/viajes.js"></script>
</body>