.btn.btn-primary {
    width: 100%;
    color: #000;
    /* background-color: #b6dcff; */
    background-color: #5ccae5;
    padding: 8px 16px;
    border-radius: 6px;
    transition: background-color 0.2s;
    font-weight: bold;
    border: none;
}

input {
    border-color: #000
}


.btn.btn-primary:hover {
    /* background-color: #a9d0ff; */
    background-color: #5ccae5;
    color: #000;
}

.btn.btn-primary:focus {
    outline: none;
    box-shadow: 0 0 0 4px #88adc3;
}

h4 {
    text-align: center;
}


body {
    margin: 0;
    padding: 0;
    background: #47e3ff;
    background: linear-gradient(0deg, rgba(0, 217, 255, 1) 0%, rgba(128, 247, 255, 1) 50%, rgba(219, 255, 255, 1) 100%);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    padding: 24px;
    margin-top: 40px;
    width: 400px !important;

}

#errorMessage {
    display: none;
    background-color: #FEF2F2;
    border: 1px solid #FECACA;
    color: #991B1B;
    padding: 16px;
    border-radius: 6px;
    margin-top: 16px;
}

.form-control:focus {
    border-color: #b2844b;
    box-shadow: 0 0 0 2px #b2844b;
    outline: none;
}

.redirect {
    margin-top: 20px;
    text-align: center;
}

.redirect h3 {
    font-size: 1rem;
    color: #2c353b;
}