/* Estilos para el botón de registro */
.botonRegistro {
    /* Define el diseño general del botón de registro */
    width: 100%;
    background-color: #7ea3b9;
    /* background-color: #98FF98; */
    padding: 8px 16px;
    border-radius: 6px;
    transition: background-color 0.2s;
    font-weight: bold;
}


.botonRegistro:hover {
    /* Cambia el estilo del botón al pasar el cursor por encima */
    background-color: #3f4f58;
}

.botonRegistro:focus {
    /* Estilo que se aplica al botón cuando está enfocado */
    outline: none;
    box-shadow: 0 0 0 4px #88adc3;
}

/* Contenedor principal de la página */
.contenedor-principal {
    /* Establece el diseño general y la organización de la página */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 16px;
    background-color: #e9eff3;
    width: 100%;
    height: auto;
    clear: both;
    background-size: cover;
}

/* Contenedor para el formulario */
.contenedor-formulario {
    width: 100%;
    max-width: 400px; 

}

/* Caja que contiene el formulario */
.caja-formulario {
    /* Establece el diseño visual del formulario (fondo, bordes, sombra) */
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.encabezado-formulario {
    /* Aplica estilos específicos al encabezado del formulario */
    /* background-color: #98FF98; */
    background-color: #7ea3b9;
    color: black;
    text-align: center;
    padding: 16px;
}

.subtitulo {
    /* Define el formato del subtítulo (tamaño de fuente, peso, etc.) */
    font-size: 1.25rem;
    font-weight: bold;
}

/* Contenedor para mensajes (éxito o error) */
.contenedor-mensaje {
    /* Configura la caja que muestra mensajes dinámicos */
    display: none;
    padding: 16px;
    border-radius: 6px;
    margin-bottom: 16px;
}

.mensaje-exito {
    background-color: #ECFDF5;
    border: 1px solid #D1FAE5;
    color: #065F46;
}

.mensaje-error {
    background-color: #FEF2F2;
    border: 1px solid #FECACA;
    color: #991B1B;
}

/* Campos del formulario */
.campo-formulario {
    width: 100%;
    padding: 8px 16px;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
    transition: border-color 0.2s;
}

.campo-formulario:focus {
    outline: none;
    border-color: #9cc2d9;
    box-shadow: 0 0 0 2px #9cc2d9;
}

.texto-error {
    display: none;
    color: #EF4444;
    font-size: 0.75rem;
    margin-top: 4px;
}